.container {
    display: flex;
    width: 600px;
    height: 400px;
    flex-direction: column;
    /* background-color: lightgray; *//
    /* margin: 0 auto; */
}

.inner {
    justify-content: space-between;
    background-color: lightgray;
    display: flex;
    margin-bottom: 20px;
    padding: 10px;
}

.menus > div {
    margin-left: 10px;
}