.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.test {
  display: flex;
  background-color: bisque;
  font-size: large;
  color: orange;
  margin: 0px 20px;
  padding: 30px 200px;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.input {
  display: 'flex';
  flex-direction: 'column';
  align-items: 'center';
}

.block {
  width: 50px;
}

.red {
  background-color: red;
  height: 60px;
}
.orange {
  background-color: orange;
  height: 80px;
}
.yellow {
  background-color: yellow;
  height: 100px;
}
.green {
  background-color: green;
  height: 120px;
}
.blue {
  background-color: blue;
  height: 140px;
}
.navy {
  background-color: navy;
  height: 160px;
}
.purple {
  background-color: purple;
  height: 180px;
}
